.borrowerDetails {
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 6px;
  line-height: var(--line-height);
}

.marginRight {
  margin-right: 10px;
}

.marginTop {
  margin-top : 10px;
};
